<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../styles/HomeStyle.css">
</head>
<body>
    <nav id="bar">
        <a href="/" class="top" id="kea">KEA</a>
        <a href="/students" class="top" id="students">Students</a>
        <a href="/courses" class="top" id="courses">Courses</a>
    </nav>
    <div id="course-create" class="content">
        <div id="course-create-back">
            <h1>Create Course</h1>
            <p>Add information about new course</p>
            <a href="/courses"><button id="back-btn" class = "btn">Back</button></a>
        </div>
        <div id ="course-create-view" class="view">
            <form action="/courses/realcreate" method="post">
                <!--<label for="courseId">Course ID:</label>
                <br>
                <input id="courseId" name="courseId" type="number">
                <br>-->
                <label for="courseName">Course name:</label>
                <br>
                <input id="courseName" name="courseName" type="text">
                <br>
                <label for="ECTS">ECTS:</label>
                <br>
                <input id="ECTS" name="ECTS" type="number">
                <br>
                <label for="startDate">Start date:</label>
                <br>
                <input id="startDate" name="startDate" type="date">
                <br>
                <button type="submit" id="create-btn" class ="btn">Create</button>
            </form>
        </div>
    </div>
</body>
</html>