<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="../styles/HomeStyle.css">
</head>
<body>
    <nav id="bar">
        <a href="/" class="top" id="kea">KEA</a>
        <a href="/students" class="top" id="students">Students</a>
        <a href="/courses" class="top" id="courses">Courses</a>
    </nav>
    <div id="student-create" class="content">
        <div d="student-create-back">
            <h1>Update Student</h1>
            <p>Choose what you wanna update</p>
            <a href="/students"><button id="back-btn" class = "btn">Back</button></a>
        </div>
        <div id ="student-create-view" class="view">
            <form action="/students/realcreate" method="post">
                <!--<label for="id">ID </label>
                <label th:text="${studentID}"></label>
                <br>-->
                <input id="id" name="id" type="hidden" th:value="${studentID}">
                <label for="firstName">First name:</label>
                <br>
                <input id="firstName" name="firstName" type="text" >
                <br>
                <label for="lastName">Last name:</label>
                <br>
                <input id="lastName" name="lastName" type="text" >
                <br>
                <label for="enrollmentDate">Enrollment date:</label>
                <br>
                <input id="enrollmentDate" name="enrollmentDate" type="date">
                <br>
                <label for="cpr">Cpr:</label>
                <br>
                <input id="cpr" name="cpr" type="text">
                <br>
                <button type="submit" id="create-btn" class ="btn">Create student</button>
            </form>
        </div>
    </div>

</body>
</html>