<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="../styles/HomeStyle.css">
</head>
<body>

    <div id="bar">
    <a href="/">
        <div class="top" id="kea">
            <p class="knap-tekst">KEA</p>
        </div>
    </a>
    <a href="/students">
        <div class="top" id="students">
            <p class="knap-tekst">students</p>
        </div>
    </a>
    <a href="/courses">
        <div class="top" id="courses">
            <p class="knap-tekst">courses</p>
        </div>
    </a>
</div>

</body>
</html>