<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="../styles/HomeStyle.css">
</head>
<body>
    <nav id="bar">
        <a href="/" class="top" id="kea">KEA</a>
        <a href="/students" class="top" id="students">Students</a>
        <a href="/courses" class="top" id="courses">Courses</a>
    </nav>
    <div id="student-details" class="content">
        <div id="student-details-back">
            <h1>Student</h1>
            <p>Information about selected student</p>
            <a href="/students"><button id="back-btn" class = "btn">Back</button></a>
        </div>
        <div id="students-details-view" class ="view">
            <table>
                <p>Student info:</p>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Enrollment date</th>
                    <th>CPR</th>
                </tr>
                <tr>
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.enrollmentDate}"></td>
                    <td th:text="${student.cpr}"></td>
                </tr>
            </table>
        </div>
        <br>
        <div id="courses-list-view" class ="view">
            <table>
                <p>Enrolled courses:</p>
                <tr>
                    <th>Name</th>
                    <th>ECTS point</th>
                    <th>Start date</th>
                </tr>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.ECTS}"></td>
                    <td th:text="${course.startDate}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>