<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Update</title>
    <link rel="stylesheet" type="text/css" href="../styles/HomeStyle.css">
</head>
<body>
    <nav id="bar">
        <a href="/" class="top" id="kea">KEA</a>
        <a href="/students" class="top" id="students">Students</a>
        <a href="/courses" class="top" id="courses">Courses</a>
    </nav>
<div id="student-update" class="content">
        <div d="student-update-back">
            <h1>Update Student</h1>
            <p>Choose what you wanna update</p>
            <a href="/students"><button id="back-btn" class = "btn">Back</button></a>
        </div>
        <div id ="student-update-view" class="view">
            <form action="/students/realcreate" method="post">
                <!--<label for="id">ID </label>
                <label th:text="${studentID}"></label>
                <br>-->
                <input id="id" name="id" type="hidden" th:value="${student.id}">
                <label for="firstName">First name:</label>
                <br>
                <input id="firstName" name="firstName" type="text" th:value="${student.firstName}">
                <br>
                <label for="lastName">Last name:</label>
                <br>
                <input id="lastName" name="lastName" type="text" th:value="${student.lastName}">
                <br>
                <label for="enrollmentDate">Enrollment date:</label>
                <br>
                <input id="enrollmentDate" name="enrollmentDate" type="date" th:value="${student.enrollmentDate}">
                <br>
                <label for="cpr">Cpr:</label>
                <br>
                <input id="cpr" name="cpr" type="text" th:value="${student.cpr}">
                <br>
                <button type="submit" id="update-btn" class ="btn">Update</button>
            </form>
        </div>
    </div>
</body>
</html>