body {
    background-color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #222;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 25px;
}
nav a:hover {
    color: rgb(0,0,0);
    background-color: rgb(150,150,150);
}
.content{
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
}

#student-table{
    width: 70%;
}
table{
    border: 3px solid #222;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 70px -30px;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 5px 8px 5px 8px;
}

tr:nth-child(even){
    background-color: lightgrey;
}
.btn{
    background-color: #dddddd;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    transition-duration: 0.1s;
}
/*Green*/
#create-btn{
    background-color: #4cbb87;
}

/*Red*/
#delete-btn {
    background-color: #FF6961;
}

/*Blue*/
#details-btn {
    background-color: #4c80bb;
}

/*Yellow*/
#update-btn {
    background-color: #FFE662;
}
.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}